.cancel= link_to "Retour à l'offre", @job_offer, class: "btn btn-danger"
%h2= "Recommender quelqu'un pour l'offre : #{ @job_offer.title }"

.recommendation-form
  = simple_form_for @recommendation, url: job_offer_recommendations_path do |f|
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :phone
    = f.input :male
    = f.input :company
    = f.input :job_title
    = f.input :linked_in
    = f.input :message
    = f.input :job_offer_id, :as => :hidden, :input_html => { :value => @job_offer.id }

    = f.submit "Recommender cette personne"